html, body {
    background: linear-gradient(40deg,#ff8c69,#ff2176,#32bff3,#05db4d,#fadd36,#ff4800);
    background-size: 400%;
    animation: gradient 50s linear infinite;
    animation-direction: alternate;
    height: 100%;
    overflow: hidden;
}
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

button {
    border: rounded-bottom !important;
    align-self: flex-end;
    height: 50px;
    border-bottom: 10px !important;
    border-top: 0px !important;
}

h2 {
    padding-top: 20px;
}

h3 {
    padding-top: 20px;
}

#options {
    height: 100%;
}

.no-border {
    border: none;
    border-radius: 1px;
    border-bottom: 1px solid;
    text-align: center;
}

.form-control:focus {
    box-shadow: none;
}

.rounded {
    border-radius: 10px !important;
}

#createAccount {
    background-color: white;
    text-align: center;
}

#createAccount>h6 {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 0px;
}

#login {
    background-color: white;
    text-align: center;
    height: 100%;

    /* position: relative;
    min-height: 100%; */
}

#tenten {
    height: 100%;
}

#login>.row>.btn-group {
    bottom: 0;
}

#tenten>h6 {
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
}
